<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rortiz_LoopedIn_Final.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9460F9F62DF28F4D0042A5CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9460FA082DF28F520042A5CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9460FA122DF28F520042A5CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
